@keyframes zoom-out {
  from {
    opacity: 0;
    transform: translateZ(0);
  }

  to {
    opacity: 0;
    transform: translateZ(300px);
  }
}

.typing {
  transition: all 3s ease;
  position: relative;
  vertical-align: center;
}

.cursor {
  display: inline-block;
  width: 2px;
  height: 30px;
  position: absolute;
  bottom: 1px;
}