.btn {
  border: none;
  outline: none;
  font-family: poppins, Sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 60px;
  letter-spacing: .5px;
  background-color: #333;
  border-radius: 0 0 0 0;
  padding: 0 40px;
  color: #fff;
  transition: all .3s ease;
  cursor: pointer !important;

  span {
    cursor: pointer !important;
  }

  &:hover {
    background-color: #000;
  }
}