@import '../../../../scss/media_mixin';

.menuContainer {
  transform: translateX(400px);
  //background-color: #F6FBFF;
  background-color: #fff;
  width: 400px;
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 99;
  right: 0;
  transition: all .5s ease;
  overflow-y: auto;


  @include _600() {
    transform: translateX(100%);
    width: 100%;
  }


  &.show {
    transition: all .5s ease;
    transform: translateX(0);
  }

  .listWrapper {
    padding: 50px;
    width: 100%;

    .list {
      list-style-type: none;
      margin-top: 15px;
      cursor: pointer;

      & > li {
        margin-bottom: 12px;
        cursor: pointer;

        & > a {
          font-size: 16px;
          font-weight: 600;
          line-height: 30px;
          font-family: 'Poppins';
          display: block;
          text-decoration: none;
          color: #333;
          cursor: pointer !important;

          span {
            cursor: pointer !important;
          }
        }
      }
    }
  }
}

.topBorder {
  width: 100%;
  position: relative;
  z-index: 55;
  height: 50px;
  line-height: 50px;
  background-color: #333;
}

.closer {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #000;
  color: #aaa;
  z-index: 1000000000;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  svg {
    cursor: pointer !important;
  }

  path {
    cursor: pointer !important;
  }


  .icon {
    //width: 28px;
    //height: 28px;
    //display: block;
    //overflow: hidden;
    font-size: 30px;
    font-weight: 300;

  }
}