@import '../../scss/media_mixin';
@import '../../scss/common_mixin';

.contentContainer {
  position: relative;
  width: 100%;
  height: calc(100vh - 140px);
  padding: 0 70px;
  transition: all .5s ease;
  background-color: #fff;

  @include _1400() {
    height: calc(100vh - 120px);
    padding: 0 50px;
  }

  @include _1040() {
    height: calc(100vh - 100px);
    padding: 0;
    overflow-y: auto;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #fff;
    border: 4px solid #aaa;
  }

  &::-webkit-scrollbar {
    width: 8px;
    background-color: #ececec;
  }

  .rightSideWrap {
    padding-left: 40%;

    @include _1400() {
      padding-left: 34.5%;
    }

    @include _1040() {
      padding: 96px 20px;
      //height: 100%;
    }

    .page {
      padding: 92px 100px;
      position: relative;
      width: 100%;
      height: calc(100vh - 140px);
      clear: both;
      hyphens: manual;
      margin: 0 auto;
      --widgets-spacing: 20px;
      overflow-y: auto;

      @include _1400() {
        height: calc(100vh - 120px);
        padding: 96px 58px;
      }

      @include _1040() {
        height: 100%;
        padding: 0;
        overflow-y: visible;
      }

      &::-webkit-scrollbar-thumb {
        background-color: #fff;
        border: 4px solid #aaa;
      }

      &::-webkit-scrollbar {
        width: 8px;
        background-color: #ececec;
      }
    }
  }
}

