@import '../../../scss/common_mixin';
@import '../../../scss/media_mixin';

.container {
  width: 100%;

  .infoContainer {
    position: relative;
    @include flex(space-between, center);

    @include _1040() {
      @include flex(center, center, wrap, column)
    }
  }

  .formContainer {
    position: relative;
    width: 100%;
    @include flex(space-between, flex-start);

    @include _1040() {
      @include flex(center, center, no-wrap, column)
    }

    .form {
      width: 50%;
      @include flex(center, flex-start, _, column);
      padding-right: 15px;
      transition: all .3s ease;


      @include _1040() {
        width: 100%;
        padding-right: 0;
        margin-bottom: 30px;
      }
    }

    .map {
      width: 48%;
      border: 1px solid grey;
      height: 360px;


      @include _1040() {
        width: 100%;
        margin-bottom: 100px;
      }
    }
  }
}

.responseWarning {
  margin: 2em 0 1em;
  padding: 0.2em 1em;
  border: 2px solid #ffb900;
  color: #7d7789;
  line-height: 1.7;

  @include _1040() {
    width: 100%;
  }
}