@import '../../../scss/common_mixin';

.container {
  width: 100%;

  .infoContainer {
    position: relative;
    @include flex(space-between, center);
  }

  .formContainer {
    position: relative;
    width: 100%;
    margin-bottom: 50px;
    @include flex(space-between, center);

    .form {
      width: 50%;
      @include flex(center, flex-start, _, column);
      margin-bottom: 30px;
      padding-right: 15px;
      transition: all .3s ease;

    }

    .map {
      width: 50%;
    }
  }
}

.responseWarning {
  margin: 2em 0 1em;
  padding: 0.2em 1em;
  border: 2px solid #ffb900;
  color: #7d7789;
  line-height: 1.7;
}