@import '../../../scss/common_mixin';
@import '../../../scss/media_mixin';

.aboutContainer {
}

.infoBlock {
  margin-bottom: 34px;
  position: relative;
  @include flex(flex-start, flex-start);
  width: 100%;

  @include _1040() {
    @include flex(flex-start, flex-start, wrap);
  }

  .infoLeftSideWrap {
    width: 50%;

    @include _1040() {
      width: 100%;
    }


    .infoLeftSide {
      margin-bottom: 54px;
      padding-right: 50px;
      width: 100%;
      @include flex(flex-start, center, wrap);
      align-content: flex-start;

      @include _1040() {
        padding: 0;
        margin-bottom: 36px;
      }
    }
  }

  .block {
    color: #7D7789;
    font-family: "Open Sans", Sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 17px;
    transition: all .3s ease;
    width: 100%;
  }

  .infoRightSideWrap {
    width: 50%;

    @include _1040() {
      width: 100%;
    }

    .infoRightSide {
      position: relative;
      @include flex(flex-start, center, wrap, column);
      margin-bottom: 50px;
      padding-left: 50px;
      align-content: flex-start;


      @include _1040() {
        padding: 0;
      }

      .list {
        list-style-type: none;
        width: 100%;

        > li {
          margin-bottom: 8px;
          width: 100%;
          float: left;

          & > span:nth-child(1) {
            min-width: 100px;
            float: left;
            margin-right: 10px;
            font-weight: 700;
          }
        }
      }
    }
  }
}

.skillsBlock {
  position: relative;
  @include flex(flex-start, flex-start);
  width: 100%;

  @include _1040() {
    @include flex(flex-start, flex-start, wrap);
  }

  .infoLeftSideWrap {
    width: 50%;

    @include _1040() {
      width: 100%;
    }


    .infoLeftSide {
      padding-right: 50px;
      width: 100%;
      @include flex(flex-start, center, wrap);
      align-content: flex-start;

      @include _1040() {
        padding: 0;
        margin-bottom: 0;
      }
    }

    .block {
      @include _1040() {
        & > div:nth-last-child(1) {
          margin-bottom: 15px;
        }
      }
    }
  }

  .block {
    color: #7D7789;
    font-family: "Open Sans", Sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    transition: all .3s ease;
    width: 100%;


    & > div:nth-last-child(1) {
      margin-bottom: 0;
    }

    @include _1040() {
      margin-bottom: 0;
    }
  }

  .infoRightSideWrap {
    width: 50%;

    @include _1040() {
      width: 100%;
    }


    .infoRightSide {
      position: relative;
      @include flex(flex-start, center, wrap, column);
      padding-left: 50px;
      align-content: flex-start;


      @include _1040() {
        padding: 0;
      }
    }
  }
}

