@import '../../../scss/common_mixin';
@import '../../../scss/media_mixin';

.footer {
  position: relative;
  height: 70px;
  background-color: #fff;
  z-index: 10;
  line-height: 70px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  @include flex(space-between, center);
  padding: 0 70px;
  transition: all .5s ease;

  @include _1400() {
    height: 60px;
    line-height: 60px;
    padding: 0px 60px;
  }

  @include _1040() {
    padding: 0 20px;
    height: 50px;
    line-height: 50px;
  }

  .copyright {
    color: #333;
    font-family: Poppins;
  }

  .socialList {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    @include flex(space-between, center, wrap);
    list-style-type: none;

    & > li {
      padding-left: 20px;
      cursor: pointer !important;

      a {
        color: #333333;
        font-size: 15px;
        display: block;
        transition: all .3s ease;
        cursor: pointer !important;

        svg {
          cursor: pointer;

          path {
            cursor: pointer;
          }
        }
      }
    }
  }
}