@import './src/scss/media_mixin';

.header {
  height: 70px;
  background-color: cornflowerblue;
}

.container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  width: 80%;
  margin: 0 auto;
  border: 1px solid white;

  @include _480 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.nav {
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid white;

  @include _600 {
    width: 100%;
    font-size: 22px;
    font-weight: bold;
    padding: 0 5px;
  }

  & > a {
    color: white;

    &:hover {
      color: black;
    }
  }
}




